<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Financial</a>
    <ul class="nav">
      <li<%= class_property_for_menu 'expenses' -%>><%= link_to 'Expense', expenses_url -%></li>
      <li<%= class_property_for_menu 'stores' -%>><%= link_to 'Stores', stores_url -%></li>
    </ul>
  </div>
</div>